video:
  path: "videos/LifeStyle-Footage-2min.mp4"
  chunk_duration: 30
  chunk_overlap: 2
  frames_per_second: 0.2

yolo:
  model_path: "yolov8n.pt"
  confidence: 0.25
  classes: [0] # 0 is person

paths:
  chunks_dir: "result/chunks"
  frames_dir: "result/frames"
  detections_dir: "result/detections"

resize :
  width: 640
  height: 480